.container
	.row
		.col-lg-12
			%table.table
				%thead
					%tr
						%th ID
						%th Email
						%th Message
						%th State
						%th Video URL
						%th Fecha creación
						%th Fecha inicio conversión
						%th Fecha fin conversión
						%th Video Converted URL
				%tbody
					- @videos.each do |video|
						%tr
							%td= video.id
							%td= video.email
							%td= video.message
							%td= video.state
							%td= video.video.url
							%td= video.created_at
							%td= video.converted_at
							%td= video.converted_finished_at
							%td= video.video_converted.url
