.container
  .row
    .col-lg-12
      = form_for(@video, :url => videos_path, :method => :post, :html => {:multipart => true, :class => "form-horizontal", :role => "form" }) do |f|
        = f.hidden_field :email, :value => current_user.email
        .form-group
          = f.label :message, "Mensaje *"
          = f.text_field :message, :maxlength=> 100, :class => "form-control", :required => true
        .form-group
          %label{:for => "exampleInputFile"} File input
          = f.label :video, "Video *"
          = f.file_field :video
          %p.help-block Example block-level help text here.
        %button.btn.btn-default{:type => "submit"} Enviar
