.jumbotron
	.container
		%h1 Suba un video usando nuestro producto
		%h3 ¡Participe subiendo un video en el que use nuestros productos! Los tres mejores videos ganarán fabulosos premios.
.container
	.row
		.col-lg-12
			- flash.each do |key, value|
				.alert{:class => "#{key.to_s == 'error' ? key : 'info'}"}
					%strong
						= value
	.row
		.col-lg-9
			%h2 Videos actuales
			- @videos.each do |video|
				%div{id: "myElement#{video.id}"} Cargando el reproductor...
				:javascript
					jwplayer("myElement#{video.id}").setup({file: "rtmp://s2s05p0x276k5a.cloudfront.net/cfx/st/mp4:#{video.video_converted_url.split('/').last}", width: 640, height: 480, title: "#{video.message}"});
				%p= video.message
		.col-lg-3
			- if current_user
				%h4 Sube tu video
				= form_for(@video, :url => videos_path, :method => :post, :html => {:multipart => true, :class => "form-horizontal", :role => "form" }) do |f|
					.form-group
						= f.hidden_field :email, :value => current_user.email
						= f.label :message, "Mensaje *"
						= f.text_field :message, :maxlength=> 100, :class => "form-control", :required => true
					.form-group
						= f.label :video, "Video *"
						= f.file_field :video
					.form-group= f.submit "Enviar"
			- else
				%h2 Iniciar sesión
				= form_for(resource, :as => resource_name, :url => "/login") do |f|
					%div
						= f.label :email, "Email *"
						%br/
						= f.email_field :email, :autofocus => true
					%div
						= f.label :login_password, "Contraseña *"
						%br/
						= f.password_field :login_password
					%div= f.submit "Iniciar sesión"
				= link_to("Registrarse", '/logon', method: :get)