.jumbotron
	.container
		%h1 Suba un video usando nuestro producto
		%h3 ¡Participe subiendo un video en el que use nuestros productos! Los tres mejores videos ganarán fabulosos premios.
.container
	.row
		.col-lg-12
			- flash.each do |key, value|
				.alert{:class => "#{key.to_s == 'error' ? key : 'info'}"}
					%strong
						= value
	.row
		.col-lg-9
			%h2 Videos actuales
			- @videos.each do |video|
				%div{id: "myElement#{video.id}"} Cargando el reproductor...
				:javascript
					jwplayer("myElement#{video.id}").setup({file: "#{video.video_converted.url}", width: 640, height: 480, title: "#{video.message}"});
			- paginate @videos, :window => 2
		.col-lg-3
			- if user_signed_in?
				%h4 Sube tu video
				= form_for(@video, :url => videos_path, :method => :post, :html => {:multipart => true, :class => "form-horizontal", :role => "form" }) do |f|
					.form-group
						= f.hidden_field :email, :value => current_user.email
						= f.label :message, "Mensaje *"
						= f.text_field :message, :maxlength=> 100, :class => "form-control", :required => true
					.form-group
						= f.label :video, "Video *"
						= f.file_field :video
					.form-group= f.submit "Enviar"
				Sesión actual
				%br/
				= current_user.email
				%br/
				= link_to "Cerrar sesión", destroy_user_session_path, method: :delete
			- else
				%h2= t(".sign_in")
				= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
					%div
						= f.label :email, "Email *"
						%br/
						= f.email_field :email, :autofocus => true
					%div
						= f.label :password
						%br/
						= f.password_field :password
					- if devise_mapping.rememberable?
						%div
							= f.check_box :remember_me
							= f.label :remember_me
					%div= f.submit "Iniciar sesión"
				= render "devise/shared/links"